.catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;

  .main {
    width: 100%;
    // max-width: 2000px;

    h1 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 2.5em;
      color: #333;
    }

    .carGrid {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
      gap: 20px;
      padding: 20px;
      width: 100%;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}
